# Binaries
**/bin/
**/bin-int/

.cache/
compile_commands.json

imgui.ini
tags

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
cache/
__pycache__/

Makefile
